# Database Configurations
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sports_injury_db

# MongoDB Configurations
MONGO_DB_NAME=sports_injury_mongodb

# Security
JWT_SECRET=sports_injury_super_secret_jwt_key_2026_capstone

# Google OAuth 2.0 (Google Identity Services)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
